@model IEnumerable<MVCServiciosMusicales.Models.Servicio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piezas.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garantia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServicio.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instrucciones.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaProxRev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentoMusical.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piezas.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garantia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServicio.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instrucciones.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaProxRev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentoMusical.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
